@model int
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Orden completada</h2>
<p>Gracias por tu compra! Tu número de orden es: @Model</p>
<p>¿Qué tal si compras más música en nuestra
    @Html.ActionLink("Tienda", "Index", "Home")?
</p>